In [1]:
# https://www.kaggle.com/code/cserocker/eda-and-linear-regression-in-boston-dataset

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [55]:
df = pd.read_csv('week1.csv')

In [56]:
df.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [57]:
models = []
for column in df.loc[:, df. columns != 'PRICE']:
    model = LinearRegression()
    xTrain, xTest, yTrain, yTest = train_test_split(df[column], df['PRICE'])
    model.fit(pd.DataFrame(xTrain), pd.DataFrame(yTrain))
    models.append((column, model, xTest, yTest))
    print('Successfuly trained',column,'vs','PRICE')

Successfuly trained Unnamed: 0 vs PRICE
Successfuly trained CRIM vs PRICE
Successfuly trained ZN vs PRICE
Successfuly trained INDUS vs PRICE
Successfuly trained CHAS vs PRICE
Successfuly trained NOX vs PRICE
Successfuly trained RM vs PRICE
Successfuly trained AGE vs PRICE
Successfuly trained DIS vs PRICE
Successfuly trained RAD vs PRICE
Successfuly trained TAX vs PRICE
Successfuly trained PTRATIO vs PRICE
Successfuly trained B vs PRICE
Successfuly trained LSTAT vs PRICE

In [66]:
for i in models:
    column, model, xTest, yTest = i
    yPredict = model.predict(pd.DataFrame(xTest))
    score = mean_squared_error(yTest, yPredict)
    print(f'Model mean squared error score for {column} vs PRICE : ', ('%.2f' % score) )

Model mean squared error score for Unnamed: 0 vs PRICE :  62.68
Model mean squared error score for CRIM vs PRICE :  67.21
Model mean squared error score for ZN vs PRICE :  54.53
Model mean squared error score for INDUS vs PRICE :  52.39
Model mean squared error score for CHAS vs PRICE :  109.53
Model mean squared error score for NOX vs PRICE :  90.74
Model mean squared error score for RM vs PRICE :  41.68
Model mean squared error score for AGE vs PRICE :  75.36
Model mean squared error score for DIS vs PRICE :  67.48
Model mean squared error score for RAD vs PRICE :  99.76
Model mean squared error score for TAX vs PRICE :  59.02
Model mean squared error score for PTRATIO vs PRICE :  73.25
Model mean squared error score for B vs PRICE :  84.99
Model mean squared error score for LSTAT vs PRICE :  42.30